IPS.Web/Service References/UserServiceReference/UserServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UnitSettingLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UnitSettingLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="NhomNguoiDungModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ListNghiepVuModel" nillable="true" type="tns:ArrayOfNghiepVuModel" />
      <xs:element minOccurs="0" name="MaDonVi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaNhom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuleId" type="xs:int" />
      <xs:element minOccurs="0" name="NhomId" type="xs:long" />
      <xs:element minOccurs="0" name="TenNhom" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NhomNguoiDungModel" nillable="true" type="tns:NhomNguoiDungModel" />
  <xs:complexType name="ArrayOfNghiepVuModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NghiepVuModel" nillable="true" type="tns:NghiepVuModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNghiepVuModel" nillable="true" type="tns:ArrayOfNghiepVuModel" />
  <xs:complexType name="NghiepVuModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaNghiepVu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuleId" type="xs:int" />
      <xs:element minOccurs="0" name="Quyen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenNghiepVu" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NghiepVuModel" nillable="true" type="tns:NghiepVuModel" />
  <xs:complexType name="ChangeResultSettings">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeResult" type="tns:ChangeResult" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChangeResultSettings" nillable="true" type="tns:ChangeResultSettings" />
  <xs:simpleType name="ChangeResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ThatBai" />
      <xs:enumeration value="ThanhCong" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ChangeResult" nillable="true" type="tns:ChangeResult" />
  <xs:complexType name="ArrayOfNhomNguoiDungModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NhomNguoiDungModel" nillable="true" type="tns:NhomNguoiDungModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNhomNguoiDungModel" nillable="true" type="tns:ArrayOfNhomNguoiDungModel" />
  <xs:complexType name="NguoiDungModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HoTen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ListNghiepVuModel" nillable="true" type="tns:ArrayOfNghiepVuModel" />
      <xs:element minOccurs="0" name="ListNhomNguoiDungModel" nillable="true" type="tns:ArrayOfNhomNguoiDungModel" />
      <xs:element minOccurs="0" name="MaDonVi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoDienThoai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenTruyCap" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NguoiDungModel" nillable="true" type="tns:NguoiDungModel" />
</xs:schema>