trunk/IPS.Web/Service References/DongBoDBServiceReference/DongBoDBServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:24166/Services/DongBoDBServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UnitSettingLibrary" />
  <xs:element name="DongBoDBDauTu">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DongBoDBDauTuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UnitSettingLibrary" minOccurs="0" name="DongBoDBDauTuResult" nillable="true" type="q1:ChangeResultSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>