trunk/IPS.Web/Service References/GiamSatServiceReference/GiamSatServices6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessLogic.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessLogic.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDonViShortModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DonViShortModel" nillable="true" type="tns:DonViShortModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDonViShortModel" nillable="true" type="tns:ArrayOfDonViShortModel" />
  <xs:complexType name="DonViShortModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaDonVi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenDonVi" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DonViShortModel" nillable="true" type="tns:DonViShortModel" />
</xs:schema>