trunk/IPS.Web/Service References/GiamSatServiceReference/GiamSatServices4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:24166/Services/GiamSatServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UnitSettingLibrary" />
  <xs:import schemaLocation="http://localhost:24166/Services/GiamSatServices.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="ChiTietKeHoachVon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maDonVi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="namKHV" type="xs:long" />
        <xs:element minOccurs="0" name="idDuAn" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChiTietKeHoachVonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChiTietKeHoachVonResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChiTietMoiThau">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maDonVi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idGoiThau" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChiTietMoiThauResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChiTietMoiThauResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChiTietMoThau">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maDonVi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idGoiThau" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChiTietMoThauResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChiTietMoThauResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChiTietXetThau">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maDonVi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idGoiThau" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChiTietXetThauResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChiTietXetThauResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChiTietGoiThauReturnString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maDonVi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idGoiThau" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChiTietGoiThauReturnStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChiTietGoiThauReturnStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChiTietHopDongReturnString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maDonVi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idHopDong" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChiTietHopDongReturnStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChiTietHopDongReturnStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChiTietDuAnReturnString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maDonVi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idDuAn" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChiTietDuAnReturnStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChiTietDuAnReturnStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemDuAn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UnitSettingLibrary" minOccurs="0" name="searchProjectSetting" nillable="true" type="q1:SearchProjectSetting" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemDuAnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TimKiemDuAnResult" nillable="true" type="q2:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DanhSachDuAn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DanhSachDuAnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DanhSachDuAnResult" nillable="true" type="q3:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DanhSachGiaiDoanKHVReturnString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maDonVi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idDuAn" type="xs:long" />
        <xs:element minOccurs="0" name="nam" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DanhSachGiaiDoanKHVReturnStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DanhSachGiaiDoanKHVReturnStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DanhSachGoiThauReturnString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maDonVi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idDuAn" type="xs:long" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DanhSachGoiThauReturnStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DanhSachGoiThauReturnStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DanhSachHopDongReturnString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maDonVi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idGoiThau" type="xs:long" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DanhSachHopDongReturnStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DanhSachHopDongReturnStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapNhatLoaiNguonVon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maDonVi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idDuAn" type="xs:long" />
        <xs:element minOccurs="0" name="loaiNguonVon" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapNhatLoaiNguonVonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UnitSettingLibrary" minOccurs="0" name="CapNhatLoaiNguonVonResult" nillable="true" type="q4:ChangeResultSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GiamSat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loaiGiamSat" type="xs:long" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/UnitSettingLibrary" minOccurs="0" name="listGiamSat" nillable="true" type="q5:ArrayOfGiamSatSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GiamSatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/UnitSettingLibrary" minOccurs="0" name="GiamSatResult" nillable="true" type="q6:ChangeResultSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>