IPS.Web/Service References/GiamSatSrv/GiamSatServices3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://203.162.130.201:1108/Services/GiamSatServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessLogic.Models" />
  <xs:import schemaLocation="http://203.162.130.201:1108/Services/GiamSatServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UnitSettingLibrary" />
  <xs:import schemaLocation="http://203.162.130.201:1108/Services/GiamSatServices.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="ChiTietKeHoachVon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mdv" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nsd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pas" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maDonVi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="namKHV" type="xs:int" />
        <xs:element minOccurs="0" name="idDuAn" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChiTietKeHoachVonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BusinessLogic.Models" minOccurs="0" name="ChiTietKeHoachVonResult" nillable="true" type="q1:KeHoachVonModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChiTietMoiThau">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mdv" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nsd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pas" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maDonVi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idGoiThau" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChiTietMoiThauResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BusinessLogic.Models" minOccurs="0" name="ChiTietMoiThauResult" nillable="true" type="q2:ThongTinMoiThauModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChiTietMoThau">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mdv" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nsd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pas" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maDonVi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idGoiThau" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChiTietMoThauResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BusinessLogic.Models" minOccurs="0" name="ChiTietMoThauResult" nillable="true" type="q3:ThongTinMoThauModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChiTietXetThau">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mdv" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nsd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pas" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maDonVi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idGoiThau" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChiTietXetThauResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BusinessLogic.Models" minOccurs="0" name="ChiTietXetThauResult" nillable="true" type="q4:ThongTinXetThauModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChiTietGoiThau">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mdv" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nsd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pas" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maDonVi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idGoiThau" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChiTietGoiThauResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BusinessLogic.Models" minOccurs="0" name="ChiTietGoiThauResult" nillable="true" type="q5:GoiThauModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChiTietHopDong">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mdv" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nsd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pas" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maDonVi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idHopDong" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChiTietHopDongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BusinessLogic.Models" minOccurs="0" name="ChiTietHopDongResult" nillable="true" type="q6:HopDongModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChiTietDuAn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mdv" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nsd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pas" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maDonVi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idDuAn" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChiTietDuAnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BusinessLogic.Models" minOccurs="0" name="ChiTietDuAnResult" nillable="true" type="q7:DuAnShortModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemDuAn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mdv" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nsd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pas" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/UnitSettingLibrary" minOccurs="0" name="searchProjectSetting" nillable="true" type="q8:SearchProjectSetting" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemDuAnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BusinessLogic.Models" minOccurs="0" name="TimKiemDuAnResult" nillable="true" type="q9:ListDuAnModelGridView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DanhSachDuAn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mdv" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nsd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pas" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DanhSachDuAnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BusinessLogic.Models" minOccurs="0" name="DanhSachDuAnResult" nillable="true" type="q10:ListDuAnModelGridView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NamKeHoachVon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mdv" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nsd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pas" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maDonVi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idDuAn" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NamKeHoachVonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="NamKeHoachVonResult" nillable="true" type="q11:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DanhSachGiaiDoanKHV">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mdv" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nsd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pas" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maDonVi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idDuAn" type="xs:long" />
        <xs:element minOccurs="0" name="nam" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DanhSachGiaiDoanKHVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BusinessLogic.Models" minOccurs="0" name="DanhSachGiaiDoanKHVResult" nillable="true" type="q12:ArrayOfKeHoachVonShortModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DanhSachGoiThau">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mdv" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nsd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pas" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maDonVi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idDuAn" type="xs:long" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DanhSachGoiThauResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BusinessLogic.Models" minOccurs="0" name="DanhSachGoiThauResult" nillable="true" type="q13:ListGoiThauModelGridView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DanhSachHopDong">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mdv" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nsd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pas" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maDonVi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idGoiThau" type="xs:long" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DanhSachHopDongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BusinessLogic.Models" minOccurs="0" name="DanhSachHopDongResult" nillable="true" type="q14:ListHopDongModelGridView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapNhatLoaiNguonVon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mdv" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nsd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pas" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maDonVi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idDuAn" type="xs:long" />
        <xs:element minOccurs="0" name="loaiNguonVon" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapNhatLoaiNguonVonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/UnitSettingLibrary" minOccurs="0" name="CapNhatLoaiNguonVonResult" nillable="true" type="q15:ChangeResultSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GiamSat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mdv" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nsd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pas" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loaiGiamSat" type="xs:int" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/UnitSettingLibrary" minOccurs="0" name="listGiamSat" nillable="true" type="q16:ArrayOfGiamSatSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GiamSatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/UnitSettingLibrary" minOccurs="0" name="GiamSatResult" nillable="true" type="q17:ChangeResultSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DanhSachDonVi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mdv" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nsd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pas" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="valueFirst" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DanhSachDonViResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/BusinessLogic.Models" minOccurs="0" name="DanhSachDonViResult" nillable="true" type="q18:ArrayOfDonViShortModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DanhSachLoaiDuAn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mdv" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nsd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pas" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="valueFirst" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DanhSachLoaiDuAnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/UnitSettingLibrary" minOccurs="0" name="DanhSachLoaiDuAnResult" nillable="true" type="q19:ArrayOfUnitShortModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>