IPS.Web/Service References/DongBoDBServiceReference/DongBoDBServices11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UnitSettingLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UnitSettingLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ChangeResultSettings">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeResult" type="tns:ChangeResult" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChangeResultSettings" nillable="true" type="tns:ChangeResultSettings" />
  <xs:simpleType name="ChangeResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ThatBai" />
      <xs:enumeration value="ThanhCong" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ChangeResult" nillable="true" type="tns:ChangeResult" />
</xs:schema>